/* TABLET SETTINGS */

@media (max-width: 768px) {
    /* Main Landing Page Tablet Settings */
    #main-landing-title {
        font-size: 35pt;
    }

    .profile-pic {
        width: 75%;
    }

    /* Contact Page Tablet Settings */
    #contact-main {
        background-position: center center;
    }

    #contact-title {
        font-size: 35pt;
    }

    .form-button {
        font-size: 12pt;
    }


}


/* PHONE SETTINGS */

@media (max-width: 576px) {
    /* Main Landing Page */
    #main-landing-main {
        grid-template-columns: 1fr;
    }

    #main-landing-title {
        grid-column: 1 / 2;
        font-size: 30pt;
        margin-bottom: 25pt;
    }

    #alex-section {
        grid-column: 1 / 2;
    }

    /* Contact Page Phone Settings*/
    #contact-main {
        grid-template-columns: 1fr;
        background-position: center top;
    }

    #contact-title {
        grid-column: 1 / 2;
        font-size: 30pt;
    }

    #contact-form {
        grid-column: 1 / 2;
        grid-template-columns: 1fr;
    }

    #email-question, #contact-confirm {
        grid-column: 1 / 2;
    }

    #comment-section {
        grid-column: 1 / 2;
    }

    .form-button {
        justify-self: right;
        margin-top: 10px;
    }


}