.landing-main-image-container {
    background-image: url(./Images/ALEX0109_INTERNET.jpg);
    background-size: auto;
    background-position: center right;
}

#about-image {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .landing-main {
      flex-direction: column;
      background-image: url(./Images/ALEX0109_INTERNET.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
    }

    .landing-main-container {
        align-content: center;
        margin-right: 10px;
        margin-left: 10px;
    }

}