body {
  font-family: "Montserrat Alternates", sans-serif;

  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.logo {
  width: 300px;
  height: 275px;
  margin: 1% auto;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgb(59, 59, 59);
  height: 50px;
  background-attachment: scroll;
  position: fixed; /* Make it stick/fixed */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 2000;
}

.landing-main {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(116, 116, 116));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;
  display: flex;
}

.has-border {
  appearance: none;
  -webkit-appearance: none;

  margin-top: 20px;
  margin-bottom: 100px;

  /* usual styles */
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  background-image: linear-gradient(to right, #436dbb, #2b4981);
  box-shadow: 0px 0px 10pt 1pt black;
  text-decoration: none;
  font-size: 110%;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 50px;
}

.has-border:hover {
  opacity: 1;
  background-image: linear-gradient(to left, #436dbb, #2b4981);
}

#profile-pic {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  border: 1px solid gray;

  box-shadow: 0px 0px 10pt 1pt black;
}

.landing-main-image-container {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/profile.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;

  background-size: cover;
}

.landing-h1 {
  color: aliceblue;
  font-size: 300%;
  margin-top: 20px;
  letter-spacing: 2px;
  border-bottom: 0;
}

h2 {
  color: aliceblue;

  letter-spacing: 3px;
}

.small-text {
  grid-column: 2/3;
  font-size: 10px;
  margin: 3% auto;
}

footer {
  height: 200px;
  width: auto;
  background: rgb(66, 65, 65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button {
  margin-right: 10px;
}

.link:hover {
  color: #436dbb;
}

.link {
  text-decoration: none;
  margin: 10px;
  color: white;
}

.landing-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: left;
}

.dash {
  background: #436dbb;
  padding: 0 10px;
}

.dash-container {
  display: flex;
  margin-bottom: 50px;
}

.landing-main-container p {
  color: white;
  font-weight: 800;
}

.About-section {
  display: flex;
  color: white;
  height: 100vh;
  width: 100%;
  background: rgb(32, 32, 32);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 175%;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: 0.2s ease-in-out;
}

.fab:hover {
  color: rgb(46, 44, 44);
  background: white;
  cursor: pointer;
}

.social-container {
  display: flex;
}
.social-container a {
  margin-left: 10px;
  margin-right: 10px;
}

.dash-container div {
  display: flex;
  flex-direction: column;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-image-container {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10pt 1pt white;
  width: 100%;
  height: 500px;
  background: rgb(37, 37, 37, 0.9);
  text-align: center;
}

h2:before {
  background-image: linear-gradient(to right, #436dbb, #2b4981);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
}

.about-text-container {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10pt 1pt white;
  width: 1000px;
  height: 500px;
  background: rgb(37, 37, 37, 0.9);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-text-container h2 {
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  .landing-main {
    flex-direction: column;
    background-image: url(./Images/profile.jpg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;

    background-size: cover;
  }

  .landing-main-div:nth-child(1) {
    width: 100%;

    justify-content: flex-start;
    margin-top: 100px;
    text-align: center;
  }
  .landing-main-image-container {
    display: none;
  }

  .about-image-container {
    display: none;
  }

  .about-container {
    width: 100%;
    justify-content: flex-start;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
  }

  .About-section {
    width: 100%;
  }

  .About-section div {
    width: 100%;
    height: 100%;

    margin-top: 0px;
  }

  .has-border {
    margin-bottom: 40px;
  }

  .landing-main-container {
    height: 100%;
    border: 1px solid white;
    background: rgb(59, 59, 59, 0.4);
    box-shadow: 0px 0px 10pt 1pt white;
  }

  footer {
    height: 100px;
    position: static;
  }
}

#about-image {
  width: 100%;
  height: auto;
}

#about-section p {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 10px;
}

.current {
  color: #436dbb;
}
